body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 30px;
  text-align: center;
}

.placeholder {
  text-align: left;
}

.title {
  color: rgb(0, 0, 0);
}
